@tailwind base;
/* purgecss start ignore */
body {
  @apply bg-black text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

nav a {
  @apply font-semibold;
}

a:hover {
  @apply text-gray-200 underline;
}

input:not([type='submit']),
textarea {
  @apply block w-full mb-2 bg-gray-900 rounded p-2 border-2 border-gray-700;
}

input:not([type='submit']):focus,
textarea:focus {
  @apply border-blue-600;
}

@tailwind components;

.btn {
  @apply px-4 py-2 rounded-lg font-semibold border-2 cursor-pointer;
}

.btn-small {
  @apply py-2 px-3 rounded-md font-semibold border-0;
}

.btn-small:hover {
  @apply no-underline border-0;
}

.btn-large {
  @apply py-3 px-5 font-semibold text-lg rounded-lg border-2;
}

.btn-large:hover {
  @apply no-underline border-2;
}

.btn:hover {
  @apply no-underline;
}

.btn-purple {
  @apply bg-purple-600 border-purple-600;
}

.btn-purple:hover {
  @apply bg-purple-700 border-purple-700;
}

.btn-outline {
  @apply bg-gray-900 border-white;
}

.btn-outline:hover {
  @apply bg-black;
}

.btn-gray {
  @apply bg-gray-800 border-gray-800;
}

.btn-gray:hover {
  @apply bg-black border-black;
}

.form-control {
  @apply mb-2;
}

.form-control label {
  @apply block font-semibold mb-1;
}

.form-control input,
.form-control textarea {
  @apply mb-0;
}

.form-control span {
  @apply font-normal text-sm text-gray-200;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  @apply border-green-600;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  @apply border-red-600;
}

.error-msg {
  @apply font-semibold;
}

.icon {
  @apply inline-block;
}
/* purgecss end ignore */
@tailwind utilities;
